.App {
  text-align: center;
  background-color: black;
  width: 16%;
  padding: 1%;
  margin: auto;
  margin-top: 10%;
  height: auto;
  border: solid 10px white;
  border-radius: 30px;
 
}
body{
  background-color: black;
}
.head{
  
  width: 100%;

}
.inp{
  width: 70%;
  height:2.5vw;
  border-radius: 12px;
  border: solid 3px black;
}
.inp ::placeholder{
  color: black;
}
.num{
  color: white;
  text-align: end;
  font-size: 2vw;
  width: 70%;
  height:2.5vw;
  margin-left: 2vw;
  /* padding: 5%; */
  /* background-color: antiquewhite; */
}
.main{
  display: flex;
  flex-wrap: wrap;
   justify-content: center;
  /* width: 90%; */
  height: 20vw;
  margin: auto;
  padding: 5%;
  border: solid 3px black;
}
.btn{
  width: 21%;
  height: 3vw;
  margin: 1%;
  color: white;
  border: solid 1px black;
 border-radius: 28vw;
 font-size: 1.5vw;
 font-weight:100 ;
}
.btn img{
  width: 60%;
}
